html {
    overflow-y: scroll;
    height: 100%;
}

body {
    background: #c6c9cb;
    height: 100%;
    background: -moz-radial-gradient(center, ellipse cover, #c6c9cb 0%, #e3e6e8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #c6c9cb), color-stop(100%, #E3E6E8));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #c6c9cb 0%, #E3E6E8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #c6c9cb 0%, #E3E6E8 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #c6c9cb 0%, #E3E6E8 100%);
    /* IE10+ */
    background: radial-gradient(center, ellipse cover, #c6c9cb 0%, #E3E6E8 100%);
    /* W3C */
}

.cabecera_menu {
    background: #96999b;
    background: -moz-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, orange), color-stop(100%, #f6dfd4));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* IE10+ */
    background: radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* W3C */
    height:140px;
}

.cabecera_menu span {
    line-height: 245px;

}


.btn_catalogo {
    background-image: url('/img/Catalogo_bn.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    background-color: #f6dfd4;
    width: 110px;
    height: 110px;
    border-radius: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    float: left;
    padding-left: 15px;
    display: block;
    color: black;
}

.btn_catalogo:hover {
    border-radius: 100%;
    background-image: url('/img/Catalogo.png');
    background-position: center;
    background-size: 75%;
    background-repeat: no-repeat;
    background-color: #e8d1c6;
    width: 110px;
    height: 110px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: black;
    float: left;
    padding-left: 15px;
    display: block;
    max-width: 100%;
}

.imagen_seccion {
    width: 100px;
    height: 100px;
    color: black;
    display: block;
    margin-left: 20px;
    max-width: 100%;
}

.color_menu {
    background: #96999b;
    background: -moz-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, orange), color-stop(100%, #f6dfd4));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* IE10+ */
    background: radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* W3C */
}

.super-centered {
    text-align: center;
    vertical-align: middle;
    z-index: 9999;
}

.menu_table > tbody > tr:nth-child(odd) > td,
.menu_table > tbody > tr:nth-child(odd) > th {
    background: #96999b;
    background: -moz-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, orange), color-stop(100%, #f6dfd4));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* IE10+ */
    background: radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* W3C */
}

.menu_table > tbody > tr:nth-child(even) > td,
.menu_table > tbody > tr:nth-child(even) > th {
    background: #96999b;
    background: -moz-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, orange), color-stop(100%, #f6dfd4));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* IE10+ */
    background: radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* W3C */
}

.table > thead > tr {
    background-color: gray;
    color: white;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: orange;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: lightgray;
}

.panel-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch;
}

.table-responsive > .table {
    margin-bottom: 0;
}

.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
}

.form_cliente {
    background: -moz-radial-gradient(center, ellipse cover, #c6c9cb 0%, #e3e6e8 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #c6c9cb), color-stop(100%, #E3E6E8));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #c6c9cb 0%, #E3E6E8 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #c6c9cb 0%, #E3E6E8 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #c6c9cb 0%, #E3E6E8 100%);
    /* IE10+ */
    background: radial-gradient(center, ellipse cover, #c6c9cb 0%, #E3E6E8 100%);
    color: black;
    width: 800px;
    height: 100%;
}

.legend {
    background: -moz-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, orange), color-stop(100%, #f6dfd4));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    /* IE10+ */
    background: radial-gradient(center, ellipse cover, orange 0%, #f6dfd4 100%);
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
}

.view-animate {
    padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;

    display:block;
    width:100%;
    border-left:1px solid black;

    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    padding:10px;
}

.view-animate.ng-enter {
    left:100%;
}
.view-animate.ng-enter.ng-enter-active {
    left:0;
}
.view-animate.ng-leave.ng-leave-active {
    left:-100%;
}