<div class="container" id="gestionLibros">

    <div style="padding-top:50px">
        <img src="/img/Catalogo.png" class="imagen_seccion">
    </div>
    <!--Table-->
    <div  style="padding-top:20px">
        <table  class="table table-responsive table-striped table-bordered table-hover" style="width: 100%">
            <thead>
            <tr><th colspan="6">Gestion de Libros</th></tr>
            </thead>
            <tbody>
            <tr ng-repeat="libroDBO in librosList | filter : paginate">
                <td>
                    {{libroDBO.ISBN}}
                </td>
                <td>
                    {{libroDBO.Articulo}}
                </td>
                <td>
                    {{libroDBO.Sello}}
                </td>
                <td>
                    {{libroDBO.Coleccion}}
                </td>
                <td>
                    {{libroDBO.EAN}}
                </td>
                <td>
                    {{libroDBO.pvp_no_iva}}
                </td>
            </tr>
            </tbody>
        </table>
        <pagination total-items="totalItems" ng-model="currentPage"
                    max-size="5" boundary-links="true"
                    items-per-page="numPerPage" class="pagination-sm">
        </pagination>
    </div>
</div>
</body>
</html>

